body {
  background-color: gray;
  color: skyblue;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

/* top stuff */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
}

h1.logo {
  display: inline-block;
  font-size: 30px;
  padding: 5px 10px;
  margin: 0 auto;
  max-width: 100%;
  color: wheat;
}

nav.top {
  background-color: black;
  padding: .5px 3px;
  display: inline-block;
}

nav.top ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.top li {
  display: inline-block;
}

nav.top a:hover {
  background:lightslategray;
}

nav.top a:focus {
  background:lightslategray;
}

nav.top a:active {
  background:lightslategray;
}

nav a {
  color: wheat;
  text-decoration: none;
  padding: 15px 20px;
  margin-right: 10px;
}

/* drop down Contact*/

.dropdown {
  position: relative;
  display: inline-block;
  list-style-type: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 145px;
  box-shadow: 0px 10px 16px 0px black;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*content*/
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1px;
  margin: 1;
  max-width: 100%;
}



/*sidebar thing*/

aside {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  flex-direction: column;
  background-color: darkred;
  height: 100vh;
  width: 50%;
}

.kiryu {
  border-radius: 50% 50% 50% 50%;
  height: 600;
  width: 600;
}

nav.side {
  padding: 1px;
}

nav.side ul {
  padding: 0px;
  margin: 10px;
  list-style: none;
}

nav.side li {
  margin: 10px;
}

/*main menu shit*/

article {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  width: 80%;
  height: 65%;
  grid-template-columns: 1fr 1fr 1fr;
}

h2, p {
  text-align: center;
}

hr {
  border: solid .5px;
  color: wheat;
  width: 50%
}

.secret {
  color:transparent;
}

section.left  {
  background-image: url(../images/big\ iron.png);
  background-size: cover;
}

section.mid {
  background-image: url(../images/spooderman.jpg);
  background-size: cover;
}

section.right {
  background-image: url(../images/demo.png);
  background-size: cover;
}

section:hover .secret{
  color: lightskyblue;
}

section:focus .secret{
  color: green;
}

section:active .secret{
  color: yellow;
}
